# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=secret
POSTGRES_DB=product_db
POSTGRES_HOST=db
POSTGRES_PORT=5432

# FastAPI Services
PPS_PORT=8000
ADMIN_PANEL_PORT=8001

# Elasticsearch
ELASTICSEARCH_HOST=elasticsearch
ELASTICSEARCH_PORT=9200
ELASTICSEARCH_INDEX=products

# Search Service
SEARCH_SERVICE_HOST=search_service
SEARCH_SERVICE_PORT=8000
SEARCH_SERVICE_PORT_OUT=8080

IN_PORT=8000
